<select name="sneaker_id_tag" id="tags" class="select">
    <option value="-1" disabled selected>Choose a category</option>
    {{#each tags}}
    <option value="{{this._id}}">{{this.tag}}</option>
    {{/each}}
</select>


